App_WebReferences/PaparaServiceReference/ApiRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TransactionRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="walletno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="order_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="discount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="shoppingVoucher" type="tns:ArrayOfShoppingVoucherEntity" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="referansId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfShoppingVoucherEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShoppingVoucherEntity" nillable="true" type="tns:ShoppingVoucherEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShoppingVoucherEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShoppingId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TransactionRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransactionRequestResult" type="tns:ResultOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultObject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultStatus" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultInnerMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TransactionRequestSoapIn">
    <wsdl:part name="parameters" element="tns:TransactionRequest" />
  </wsdl:message>
  <wsdl:message name="TransactionRequestSoapOut">
    <wsdl:part name="parameters" element="tns:TransactionRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ApiRequestSoap">
    <wsdl:operation name="TransactionRequest">
      <wsdl:input message="tns:TransactionRequestSoapIn" />
      <wsdl:output message="tns:TransactionRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApiRequestSoap" type="tns:ApiRequestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransactionRequest">
      <soap:operation soapAction="http://tempuri.org/TransactionRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApiRequestSoap12" type="tns:ApiRequestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransactionRequest">
      <soap12:operation soapAction="http://tempuri.org/TransactionRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApiRequest">
    <wsdl:port name="ApiRequestSoap" binding="tns:ApiRequestSoap">
      <soap:address location="http://www.papara.com/PosService/ApiRequest.asmx" />
    </wsdl:port>
    <wsdl:port name="ApiRequestSoap12" binding="tns:ApiRequestSoap12">
      <soap12:address location="http://www.papara.com/PosService/ApiRequest.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>